---
import { type Language, type TranslationObject } from '../utils/i18n';

interface Props {
  lang: Language;
  t: TranslationObject;
}

const { lang, t } = Astro.props;
---

<footer class="footer">
  <div class="container">
    <div>
      <p>© 2025 Business Partner. All rights reserved.</p>
    </div>
  </div>
</footer>