---
import { type Language, type TranslationObject } from '../utils/i18n';

interface Props {
  lang: Language;
  t: TranslationObject;
}

const { lang, t } = Astro.props;
---

<footer class="footer">
  <div class="container">
    <div style="margin-bottom: 2rem;">
      <a href="https://businesspartner.sa" target="_blank" style="font-size: 1.1rem; font-weight: 500;">
        {t.footer.website}
      </a>
    </div>
    
    <div style="border-top: 1px solid rgba(255,255,255,0.2); padding-top: 2rem;">
      <p>{t.footer.copyright}</p>
    </div>
  </div>
</footer>